html {
  font-family: Georgia;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: rgba(1, 186, 239, 1);
}

h1 {
  margin: 0;
}

code.language-text {
  border-radius: 0;
  padding-right: 5px;
  padding-left: 5px;
}
